# Client (Vite)
VITE_SERVER_URL=ws://localhost:3001

# Server
HOST=0.0.0.0
PORT=3001
NODE_ENV=development

# Game config
MIN_PLAYERS=1
MAX_PLAYERS=15
TOTAL_ROUNDS=7
ROUND_DURATION=15
MAX_ACTIVE_ECHOS=60
ALLOW_BOTS=true
DEBUG=true
